.content{
	color: red;
}

.hide-content{
	color: blue;
}

nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%; 
}


nav ul {
    margin: 0;
    padding: 0;
}
 
nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}
     
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}
.main{
	background:red;
	position:absolute;
	color:#fff;
	top:50%;
	left:50%;
	padding:15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


.outer{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:80%;
	height: 300px;
	margin: 0 auto;
    background-color: antiquewhite;
}

.inner{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 40%;
    height: 190px;
    background-color: red;
}


.outer:hover .inner{
	background-color: antiquewhite;
}

.outer:hover {
	background-color: red;
}
fieldset{
	border: 1px solid black;
}

input[type="text"]{
	text-overflow: ellipsis;
}